/* tailwind configs */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", "Noto Sans Bengali", sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #fdc112;
    /* --primary-color: #fdc112; */
    --primary-color-light: #fdc112;
    --primary-color-dark: #fdc112;
}

@layer utilities {
    .filters-container {
        @apply bg-white rounded-xl shadow-md;
        @apply w-full;
        @apply mb-5;
    }

    .content-container {
        @apply bg-white rounded-xl shadow-md;
        @apply w-full;
    }

    .execution-item {
        @apply p-2 mb-2 bg-white rounded-2xl shadow-md;
    }

    .execution__container {
        @apply grid gap-4 auto-fit-grid;
    }

    .extended__data {
        @apply grid gap-4 p-4 auto-fit-grid;
    }
}

.warning:focus-within {
    border: 1px solid red;
}
.google-visualization-tooltip {
    pointer-events: none;
}

/* cluster upliftment start */
.ant-table-wrapper.uplift_expand_cm_table .ant-table.ant-table-small {
    background-color: #ffe9ee;
}
.ant-table-wrapper.uplift_expand_ms_table .ant-table.ant-table-small {
    background-color: #f4ebff;
}
.ant-table-wrapper.uplift_expand_material_table .ant-table.ant-table-small {
    background-color: #ffe5d9;
}
.ant-table-wrapper.uplift_expand_material_detected_table .ant-table.ant-table-small {
    background-color: #d3eced;
}

.ant-table-wrapper.uplift_expand_ms_table
    .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-content
    > table
    > thead
    > tr
    > th,
.ant-table-wrapper
    .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-header
    > table
    > thead
    > tr
    > th {
    background-color: #dabbff;
}

.ant-table-wrapper.uplift_expand_cm_table
    .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-content
    > table
    > thead
    > tr
    > th,
.ant-table-wrapper
    .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-header
    > table
    > thead
    > tr
    > th {
    background-color: #ff93ac;
}

.ant-table-wrapper.uplift_expand_material_table
    .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-content
    > table
    > thead
    > tr
    > th,
.ant-table-wrapper
    .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-header
    > table
    > thead
    > tr
    > th {
    background-color: #ffcbb4;
}

.ant-table-wrapper.uplift_expand_material_detected_table
    .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-content
    > table
    > thead
    > tr
    > th,
.ant-table-wrapper
    .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-header
    > table
    > thead
    > tr
    > th {
    background-color: #b6fdff;
}

/* .dropdown-container:focus,
.dropdown-container:focus-within {
    position: relative;
    outline: 0;
    background-color: white !important;
    border: 1px solid var(--primary-color) !important;
    border-radius: 6px !important;
} */

/* @layer utilities {
    .text-balance {
        text-wrap: balance;
    }
} */

/* tr.ant-table-row {
    border-radius: 10px;
    box-shadow: 0 1px 3px #36508a4d;
    border: 10px solid gray;
    background-color: red;
}
 */

/* td.ant-table-cell {
    border: 0px !important;
}


tr.ant-table-row.ant-table-row-level-0 > td.ant-table-cell:last-child {
    background-color: red;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

tr.ant-table-row.ant-table-row-level-0.first__row__column
    td.ant-table-cell:first-child {
    background: #fdc112;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 20px;
    font-weight: bold;
} */

.attendance-tabs > .ant-tabs-nav,
.profile-tabs > .ant-tabs-nav {
    display: none !important;
}
/*
.ant-table table {
    border-spacing: 0 15px;
}

tr.ant-table-row.ant-table-row-level-0.custom-row td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

tr.ant-table-row.ant-table-row-level-0.custom-row
    > td.ant-table-cell:first-child {
    background-color: red;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--primary-color);
    font-size: 25px;
    font-weight: bolder;
} */

/* ant design rangepicker single calender pannel */
.ant-picker-panels > *:first-child button.ant-picker-header-next-btn {
    visibility: visible !important;
}

.ant-picker-panels > *:first-child button.ant-picker-header-super-next-btn {
    visibility: visible !important;
}

.ant-picker-panels > *:last-child {
    display: none;
}

.ant-picker-panel-container,
.ant-picker-footer {
    width: 280px !important;
}

.ant-picker-footer-extra > div {
    flex-wrap: wrap !important;
}

/* Upload Component Styles */
span.ant-upload-wrapper {
    display: block !important;
}

.ant-upload.ant-upload-select {
    width: 100% !important;
}

/* Location Tracker */
.attendance-info-txt {
    color: black;
}

.group__heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: underline;
}

.attendance__tabs > .ant-tabs-nav,
.profile-tabs > .ant-tabs-nav {
    display: none !important;
}

.attendance__segment > .ant-segmented-group > label.ant-segmented-item.ant-segmented-item-selected {
    background: var(--primary-color);
    color: white;
}

/* NMSM extended */
.auto-fit-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
    gap: 1rem;
}

/* table */
.ant-table-small .ant-table-thead > tr > th {
    background-color: #f5f5f5;
    padding: 8px 16px;
}

.header__bg thead {
    background-color: #fdc112;
}

.ant-table-small .ant-table-tbody > tr > td {
    padding: 8px 16px;
}

.ant-table-expanded-row .ant-table-thead > tr > th {
    background-color: #fafafa;
}

/* react multiselect component styles */

/* .rmsc.multiselect-input {
    border: 0.5px solid #fdc112 !important;
    border-radius: 6px !important;
    height: 36px !important;
} */

.dropdown-heading {
    height: 32px !important;
    border-radius: 4px !important;
}

.rmsc.multiselect-input > .dropdown-container {
    border-color: var(--primary-color) !important;
    border-radius: 6px !important;
    box-shadow: none !important;
    height: 32px !important;
}

.rmsc.multiselect-input > .dropdown-container:focus-within {
    border-color: var(--primary-color) !important;
    border-radius: 6px !important;
    box-shadow: none !important;
}

/* .ant-table-tbody > tr > td {
    word-wrap: break-word;
    word-break: break-all;
} */

@keyframes popout {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.popout-animation {
    animation: popout 0.5s ease-out forwards;
}

/* suspense loading animation */
/* From Uiverse.io by polidahiya */
.loadingtext p {
    color: black;
    position: relative;
}

.loadingtext p::after {
    position: absolute;
    animation: b 2s infinite linear;
    color: black;
    content: "";
    /* left: 105%; */
}

@keyframes b {
    0% {
        content: "";
    }

    10% {
        content: ".";
    }

    40% {
        content: "..";
    }

    70% {
        content: "...";
    }

    100% {
        content: "";
    }
}

.dropdown-content {
    z-index: 999 !important;
}

.ant-btn.ant-btn-primary.ant-btn-color-primary.ant-btn-variant-solid {
    background-color: var(--primary-color);
}
